<html>
<head>
<style>
p {
 font-family: Verdana;
}
</style>
</head>
<body>
<p>&nbsp;</p>
<p>Please find error details as below:</p>
<table>
<tr>
<td>Application: </td>
<td>##Application##</td>
</tr>
<tr>
<td>User ID: </td>
<td>##UserID##</td>
</tr>
<tr>
<td>Date Time: </td>
<td>##DateTime##</td>
</tr>
<tr>
<td>Error Message: </td>
<td>##ErrorMessage##</td>
</tr>
<tr>
<td>Additional Information:</td>
<td>##AdditionalInformation##</td>
</tr>
</table>
</body>
</html>
